{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": true
}