@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:opsz@5..1200&family=Raleway&display=swap");
@import "tailwindcss";

@theme {
  --font-playfair-display: "Playfair Display", serif;
}
